.contact-icons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2rem;
  .item {
    margin-bottom: 1rem;
    .icon {
      margin-right: 1rem;
    }
  }
}
form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
  .floating-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    @media (max-width: 818px) {
      width: 100%;
    }
    @media (max-width: 650px) {
      label {
        display: none;
      }
      input,
      textarea {
        width: 100% !important;
      }
    }
    input,
    textarea {
      margin: 1rem 0;
      width: 450px;
      border-radius: 0.5rem;
      transition: 0.3s ease all;
      border: 2px solid #017483;
      font-size: 1.5rem;
      height: 60px;

      &:focus-visible {
        outline: none;
        animation: border 3s linear infinite alternate infinite;
        border: 2px solid #00bcd4;
      }
    }
    label {
      color: #999;
      font-size: 14px;
      font-weight: normal;
      font-size: 1.2rem;
    }
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    button {
      font-size: 1.25rem;
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      border-radius: 0.5rem;
      padding: 1.5rem 3rem;
      border: none;
      transition: 0.2s ease all;
      background-color: rgb(3, 196, 196);
      &:hover {
        background-color: rgb(4, 156, 156);
      }
    }
  }
  .success {
    color: rgb(5, 119, 5);
  }
}
