.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 15rem;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s ease-in-out;
  padding: 0 15px;
  background: #040b14;
  overflow-y: hidden;
  @media (max-width: 1100px) {
    left: -20rem;
    &.menu-show {
      left: 0;
    }
  }
  .profile {
    h2 {
      color: white;
      text-align: center;
    }
    img {
      margin: 15px auto;
      display: block;
      width: 120px;
      border: 8px solid #2c2f3f;
      border-radius: 50%;
      object-fit: cover;
    }
    .contant-icons {
      a {
        color: white;
        text-decoration: none;
      }
      display: flex;
      justify-content: space-evenly;
      font-size: 1.5rem;
      svg {
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
          color: rgb(3, 196, 196);
        }
      }
    }
    hr {
      color: white;
      background-color: white;
      margin-top: 1rem;
    }
  }
  .menu {
    margin: 4rem auto;
    ul {
      list-style: none;
      color: white;
      li {
        margin-top: 2rem;
        a {
          transition: all 0.3s ease-in-out;
          color: #a8a9b4;
          text-decoration: none;
          &:hover {
            color: #fff;
            .icon {
              color: rgb(3, 196, 196);
            }
          }
          span {
            font-size: 1.2rem;
            .icon {
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }
}
